
<div class="row">
  <div class="col-md-2" *ngFor="let card of _cards, let i= index">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="http://lorempixel.com/80/80/people/?random={{i}}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{card.username}}</h4>
          <p class="card-text">{{card.description}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <!--<div class="card" style="width: 20rem;">
      <img class="card-img-top" src="http://lorempixel.com/80/80/people/?random={{i}}" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>-->
  </div>

</div>
